dataset/-plantvillage-dataset-1/
runs/detect/
runs/detect/train8/val_batch1_labels.jpg
dataset/maize-disease-20240221-8/
baysian_hyper_tuning/
runs/segment/train/confusion_matrix_normalized.png
runs/
sweep_tuning
wandb/
optuna_tuning/
optuna_full_range/
optuna_incremental/
dataset/maize-uav-crop-disease/
optuna_maize_baysian/
optuna_maize_baysian_post/tune2/weights/epoch45.pt
dataset/
env/
yolo11n_demo/
yolo11n_demo_default/
yolo11n_demo_test/
all_YOLO11/
yolo11n/
yolo11n_best/
yolo11n_finetuned/
yolo11n_finetune/
yolo11n_finetune_process/